<div class="col-md-8 col-md-offset-2">
	<div class="jumbotron center">
		<h1>Bienvenido a Duscae</h1>
			<p>Si eres nuevo en el sitio 
			<%= link_to "Registrate",new_user_registration_path, class: 'btn btn-primary btn-sm' %>
			</p>
	</div>		
</div>