<div class="jumbotron center">
	<h1>Bienvenido a Duscae</h1>
	<%= link_to "Iniciar Sesión","#", class: 'btn btn-default btn-sm' %>

	<%= link_to "Registrarse","http://google.com", class: 'btn btn-primary btn-sm' %>
</div>