<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default">
	  <div class="panel-heading"><h1>Editando post</h1></div>
  <div class="panel-body">
	<%= render 'form', post: @post %>

	<div class="panel-footer">
		<%= link_to @post do %> 
			<i class="fa fa-diamond" aria-hidden="true"></i> Ir al post
		<%end%>
		<%= link_to posts_path do %>
			<i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar
		<%end%>
	</div>
	</div>
</div>
</div>
