// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #000;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2c3e50;
}